@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Domine'), local('Domine-Regular'), url(https://fonts.gstatic.com/s/domine/v7/L0x8DFMnlVwD4h3hu_qi.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDfZG1Wl4LcnbuKjk0j.ttf) format('truetype');
}
@font-face {
  font-family: 'Qwigley';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Qwigley'), local('Qwigley-Regular'), url(https://fonts.gstatic.com/s/qwigley/v9/1cXzaU3UGJb5tGoCiVtmjw.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  max-width: 1152px;
  width: 100%;
  margin: 0, auto;
}
h1 {
  font-family: 'Qwigley', cursive;
  font-size: 7.5rem;
  line-height: 9.4rem;
  padding: 1.5%;
  color: white;
}
h2 {
  font-size: 3rem;
  font-family: 'Oxygen', sans-serif;
}
h3 {
  font-size: 2.4rem;
  font-family: 'Oxygen', sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #123A16;
}
nav .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 57%;
}
nav .links a {
  font-family: 'Oxygen', sans-serif;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: normal;
  font-style: normal;
  display: flex;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}
nav .links a:hover {
  text-decoration: underline;
  font-size: 2.1rem;
}
footer {
  background-color: #3D443E;
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
footer .contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 33%;
  font-size: 1.4rem;
  color: white;
  font-family: 'Oxygen', sans-serif;
}
footer .bottom-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 33%;
}
footer .bottom-links button {
  background-color: #D2DDD3;
  border: 0px;
  color: black;
  border-radius: 6px;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: normal;
  padding: 2%;
}
footer .bottom-links a {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: white;
  font-family: 'Oxygen', sans-serif;
  text-decoration: none;
}
.top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.top-section div h2 {
  width: 70%;
}
.top-section div p {
  justify-content: center;
  align-items: center;
  width: 38%;
  margin-left: 25%;
}
.top-section .btn {
  border: 2px solid #242825;
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  border-radius: 6px;
  margin-right: 8%;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
.top-section .arrow {
  font-size: 1.5rem;
  margin-top: 8%;
  margin-right: 8%;
}
.featured-stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h2 {
  font-size: 3.6rem;
  padding-bottom: 2%;
}
section.about-top {
  display: flex;
  margin: 4% 8%;
}
section.about-top .about-text {
  max-width: 48%;
  margin-right: 5%;
}
section.about-top .about-text h3 {
  padding-top: 1%;
  padding-bottom: 1%;
}
section.about-top .about-text p {
  font-size: 2.1rem;
  line-height: 2.4rem;
  font-family: 'Oxygen', sans-serif;
  padding-top: 2%;
  padding-bottom: 8%;
}
section.about-top .about-text .mission {
  padding-top: 2%;
  padding-bottom: 2%;
}
section.about-top .about-image {
  max-width: 48%;
  align-self: center;
}
section.about-profiles {
  margin: 4% 8%;
}
section.about-profiles .teammates {
  display: flex;
  flex-wrap: wrap;
}
section.about-profiles .teammates .box {
  max-width: 48%;
}
