h2{
    font-size: 3.6rem;
    padding-bottom: 2%;
}



section.about-top{
    display: flex;
    justify-content: space-between;
    margin: 4% 8%;



    .about-text{
        max-width: 48%;
        margin-right: 5%;
        
        @media @tablet {
            max-width: 100%;
        }

        h3{
            padding-top: 1%;
            padding-bottom: 1%;
        }

        p{
            font-size: 2.1rem;
            line-height: 2.4rem;
            font-family: @headline-font;
            padding-top: 2%;
            padding-bottom: 8%;
        }

        .mission{
            padding-top: 2%;
            padding-bottom: 2%;
        }

        .site-guidelines{
            padding-top: 2%;
            padding-bottom: 2%;
        }

    }

    .about-image{
        max-width: 48%;
        align-self: center;

        @media @tablet{
            display: none;
        }
    }
}

section.about-profiles{
    margin: 4% 8%;

    .teammates{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media @tablet {
           justify-content: column;
        }

        .box{
            display: flex;
            align-content: center;
            width: 45%;
            padding-top: 2%;
            padding-bottom: 2%;

            @media @tablet{
                width: 100%;
            }

            .img{
                max-width: 122px;
                max-height: 122px;
            }

            .teammate{
                width: 100%;
                padding-left: 6%;
                align-self: center;
            

                h3{
                    padding-top: 1%;
                    padding-bottom: 2%;
                    font-weight: bold;
                }

                p{
                    font-size: 2.1rem;
                    line-height: 2.7rem;
                    font-family: @headline-font;
                }

            }


                    
        }
    }

        
}