footer{
    background-color: #3D443E;
    display: flex;
    justify-content: space-between;
    padding: 2%;

    .contact{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        width: 33%;
        font-size: 1.4rem;
        color: white;
        font-family: @headline-font;
    }//This closes contact div

    .bottom-links{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        width: 33%;

        button{
            .custom-btn(#D2DDD3, 0px, black);
            font-size: 1.8rem;
            line-height: 2.4rem;
            font-weight: normal;
            padding: 2%;
        }//This closes button 

        a{
            font-size: 1.4rem;
            line-height: 1.8rem;
            color: white;
            font-family: @headline-font;
            text-decoration: none;
        }//This closes a tags
    }//This closes bottom-link div
}//This closes footer