* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }

  body {
    max-width: 1152px;
    width: 100%;
    margin: 0, auto;
  }

  h1 {
    font-family: @nav-font;
    font-size:7.5rem;
    line-height: 9.4rem;
    padding: 1.5%;
    color: white;
}

  h2{
  font-size: 3rem;
  font-family: @headline-font;
  }

  h3{
    font-size: 2.4rem;
    font-family: @headline-font;
  }