.top-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

div h2 {
    width: 70%;
    margin-left: 15%;
    
}

div p{
    justify-content: center;
    align-items: center;
    width: 38%;
    margin-left: 30%;
}

.btn {
    border: 2px solid #242825;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    border-radius: 6px; 
    margin-right: 2.5%;
    padding: .5rem  1.5rem .5rem  1.5rem;
    }

    .arrow {
        font-size: 1.5rem;
        margin-top: 8%;
        margin-right: 4%;
    }

}

.featured-stories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/sunset.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    color: white;
    
    .left-arrow {
        font-size: 2rem;
        color: white;
        margin-top: 20%;
        margin-right:160%;
        border: 1px solid yellowgreen;

    }

      .text {
        width: 50%;
        margin-left: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;

        .right-arrow {
            font-size: 2rem;
            color: white;
            margin-bottom: 20%;
            margin-left: 160%;
            border: 1px solid yellowgreen;
         }



        .middle-content, h2 {
            margin-top: 2%;
        }
   
        .home {
             margin-top: 8%;
             color: white;
         }

        

        


    }// This closes middle-content
  
    .read {
        border: 2px solid #242825;
        color: white;
        font-size: .75rem;
        background-color: #25742C;
        text-align: center;
        box-sizing: border-box;
        border-radius: 6px; 
        margin-right: .5%;
        padding: .5rem  1.5rem .5rem  1.5rem;
        }
    }// this closes featured stories container

